@font-face {
    font-family: 'Sukhumvit';
        src: url('../fonts/sukhumvit-set/SukhumvitSet-Medium.ttf') format('truetype');
    }

body {
    font-family: 'Sukhumvit';
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #007EFF;
    font-size: 1rem;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: #0A2544;
    font-size: 1rem;
    font-weight: 400;
}

.bg-tsi {
    background-color: #FFCD00!important;
    position: fixed !important;
    z-index: 4;
    width: 100%;
    top: 0;
}
/* .bg-tsi::before{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 40%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-bottom-right-radius: 3rem;
} */
.home-layout-1 {
    position: relative;
    background-image: url('../images/background1@2x.png?cache=1');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 100%;
}
.-margin-top{
    margin-top: 3rem;
}
@media only screen and (min-width: 576px) {
    .home-layout-1 {
        height: 100%;
    }
}

.logo-box {
    z-index: 1;
    padding: 1rem 2rem;
    background-color: #fff;

}

.img-logo {
    width: 120px;
  }

.titile-box {
    position: absolute;
    top: 25%;
    left: 10%;
}

.title-1{
    font-size: 3.5em;
    color: #fff;
    font-weight: bold;
    /* text-shadow: 3px 2px 0 #2d2b2b; */
    letter-spacing: 1px;
}

.title-2 { 
    font-size: 5.2em;
    /* text-shadow: 3px 2px 0 #2d2b2b; */
    color: #FFCD00;
    letter-spacing: 1px;
    font-weight: bold;
}

.title-3 { 
    font-size: 2em;
    color: #0a2544;
    letter-spacing: 1px;
    font-weight: bold;
}

.title-3.-shadow{
    text-shadow: 3px 2px 0 #2d2b2b;
}

.service-menu {
    width: 100%;
    position: absolute;
    top: 65%;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.service-list {
    cursor: pointer;
    background-color: rgba(46, 47, 49, 0.7);
    border-radius: 24px;
    padding: 10px;
    padding-top: 10%;
    height: 100%;
}

.service-list:hover {
    background-color: rgba(255, 205, 0, 0.8);
  }

.business-box:hover {
    background-color: rgba(243, 176, 4, 0.6);
}

.person-service-list:hover{
    background: rgba(243, 176, 4, 0.6);
}

.service-menu-box-title-two {
    color: #fff;
    font-size: 18px;
    padding-top: -25px;
    font-weight: bold;
}

.service-menu-box-title {
    color: #fff;
    font-size: 18px;
    padding-top: 24px;
    font-weight: bold;
}

.box-img-service {
    margin-bottom: -10px;
}
 
.bg-layout-2 {
    background-image: url('../images/bg_layout_2.png');
}

.home-layout-2 {
    position: relative;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    opacity: 0.9;
    height: auto;
}

.layout2-title {
    margin-top: 5%;
    color: #0A2544;
    font-size: 3em;
    font-weight: bold;
}

.layout2-sub-title {
    color: #5F668C;
    margin-top: 30px;
}

.layout2-detial {
    /* padding: 10px; */
    font-size: 1.4em;
    text-align: left;
    color: #848CB7;
    font-weight: 400;
}

.laout2-list-images {
    margin-top: 2%;
}

.disable-margin {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.person-title {
    vertical-align: middle;
    line-height: 45px;
    font-size: 1.8em;
    padding: 0px;
}

.person-title-sub {
    color: #007EFF;
}

.person-detail {
    color: #848CB7;
    font-size: 1.2em;
    text-align: justify;
}

.btn-custom-more {
    border: 1px solid #007EFF;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    color: #007EFF;
    cursor: pointer;
    margin-left: auto;
    text-decoration: none;
}

.fa-angle-right {
    margin-left: 20px;
}

.person-service-list {
    background: #5F668C;
    opacity: 0.8;
    height: 160px;
    width: 160px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin-left:12%;
}

.service-menu-person-title {
    color: #0A2544;
    font-size: 1.1em;
    text-align: center;
    margin-top: 25px;
}

.person-img-service {
    padding: 20px;
}

/* .person-set {
    margin-left: 20%;
    margin-top: 2%;
} */

.business-box {
    color: #FFF;
    height: 240px;
    background: #5F668C;
    border-radius: 16px;
    padding: 25px;
    padding-top: 45px;
    position: relative;
    width: 100%;
}

.business-sulution{
    font-size: 1.3em;
    margin: 0px;
}

.business-text {
    font-size: 1.2em;
}

.business-img-set {
    margin-top: -5%;
}

.business-detial {
    letter-spacing: 1px;
    margin-top: 8%;
    font-size: 16px;
}

.solution-more {
    position: absolute;
    bottom: 10px;
    color: #ecd020;
    left: -10px;
    cursor: pointer;
}

.stock-box {
    background: #0A2544;
    width:100%;
    height: 360px;
    margin-right: 0px;
    color: #fff;
    padding: 60px;

}
.stock-box-title {
    font-size: 2em;
}

.stock-box-date {
    font-size: 1.2em;
}

.call-box {
    position: absolute;
    top: 15%;
    right: 10%;
}


.call-1352-text {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    top: -23%;
    left: 22px;
    position: absolute;
}

.call-1352-text-24 {
    top: 50%;
    left: 132%;
    font-size: 12px;
    position: absolute;
    width: 70px;
    color: #fff;
}

.stock-price-now {
    color: #FFCD00;
}

.stock-num-now {
    color: #FFCD00;
    font-weight: bold;
    font-size: 4em;
}

.stock-change-val{
    background: #fff;
    color: #007EFF;
    height: 47px;
    line-height: 52px;
    border-radius: 8px;
    font-size: 1.2em;
    padding-left: 15px;
    padding-right: 15px;
}

.stock-val-number {
    text-align: right;
}

.news-text {
    vertical-align: middle;
    line-height: 45px;
    font-size: 1.8em;
    padding: 0px;
}

.set-img-news {
    width: 6%;
}

.news-more {
    text-align: right;
}

.news-title {
    font-size: 1.2em;
}
                                           
.news-detial {
    font-size: 0.9em;
}

.set-new-box-detail
{
    padding-left:5%;
}

.footer {
    background-color: #0A2544;
}

.footer-bar {
    height: 24px;
    background: #FFCD00;
    width: 100%;
}

.footer-logo {
  padding: 2rem 0;
}

.footer-call {
    position: relative;
    float: left;
    padding: 45px;
}

.float-right {
    text-align: right;
    color: #fff;
}

.footer-call-num {
    font-weight: 400;
    font-size: 40px;
}

.phone-img-footer {
    position: absolute;
    left: 0%;
    top: 62%;
}

.icon-footer {
    text-align: end;
    margin: auto;
}

.social-img {
    margin-left: 20px;
}

/*.ConsentCookie-box {
    box-shadow: 0 0.5rem 4rem rgb(0 0 0 / 15%);
    position: fixed;
    bottom:0px;
    opacity: 1 !important;
    background: #fff;
    width: 100%;
}*/

.ConsentCookie-box {
    margin-bottom: 0px;
}

.list-number-style > .item {
    counter-increment: number-faq;
    background: url('../images/dotted-x-gray.png') 0 100% repeat-x;
    position: relative;
    padding: 0 0 25px 30px;
    margin-top: 25px;
    color: #919195;
}

.banner-box .item-content-banner img {
    width: 100%!important;
    height: 100%!important;
}
.banner-box .modal-body {
    position: relative;
    padding: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.banner-box .setModal {
    width: auto;
    max-width: 900px;
}

.banner-box .modal {
  text-align: center;
  padding: 0!important;
}

.banner-box .modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.banner-box .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.banner-box .modal-header {
    padding: 0 15px;
    border-bottom: 0;
    height: 40px;
}

.banner-box .btn-close {
    cursor: pointer;
    opacity: 1;
    background-color: #FFCD00;
}

.banner-box .set-header {
    position: absolute;
    top: 10px;
    z-index: 2;
    right: 10px;
}

.banner-box .btn-close:hover {
    color: #FFCD00 !important;
    opacity: 1;
    text-decoration: none;
}



/* @media only screen and (min-width: 320px) and (max-width: 479px) { */
    @media only screen and (max-width: 767.98px) {
    /* For typical mobile devices */
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,0);
        border-color: rgba(0,0,0,0);
    }

    .title-1 {
        font-size: 2em;
        margin-bottom: 2%;
    }

    .title-2 {
        font-size: 3.5em;
        margin-bottom: 2px;
    }

    .title-3 {
        font-size: 1.8em;
        margin-bottom: 4px;
    }
    .service-menu-box {
        padding: 0px;
        margin-left: 2%;
    }
    .service-list {
        height: 80px;
        width: 110px;
        background-color: rgba(46, 47, 49, 0.7);
        border-radius: 24px;
        padding: 5px;
        opacity: 0.8;
        margin: 1px;
        margin-top: 15px;
        padding-top: 15px;
    }
    .car-img {
        width: 35px;
    }

    .service-menu-box-title {
        font-size: 10px;
    }

    .service-menu {
        width: 100%;
        position: absolute;
        top: 50%;
    }

    .box-img-service {
        margin-bottom: 10px;
    }

    
    /* layout 2 */
    .layout2-title {
        /* margin-top: 10%; */
        color: #0A2544;
        font-size: 2em;
    }

    .layout2-sub-title {
        color: #5F668C;
        font-size: 1em;
        padding: 8px;
        margin-top: 20px;
    }

    .layout2-detial {
        /* padding: 2px; */
        font-size: 0.8em;
        /* margin-left: 4%;
        margin-right: 2%; */
        color: #848CB7;

        
    }
    
    .laout2-list-images {
        margin-top: 2%;
        margin-right:0%;
        margin-left: 0%;
    }

    .set-img {
        width: 70px;
    }

    .person-set-text {
        width: 200px;
    }

    .person-img {
        width: 40px;
    }

    .person-service-list {
        width: 100%;
        margin-left:0px;
    }

    .person-set {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2%;
    }

    .service-menu-person-title {
        font-size: 0.8em;
        font-weight: bold;
    }

    .person-set {
        margin-top: 10%;
    }

    .person-car-img {
        width: 85px;
    }

    .business-box {
        width: 100%;
        margin: 0px;
        margin-bottom: 10%;
        height: auto;   
    }

    .stock-img {
        width: 100%;
    }

    .img-1352 {
        width: 20px;
    }

    .titile-box {
        width: 100%;
        position: absolute;
        top: 31%;
        left: 0%; 
    }

    .title-1 {
        width: 100%;
        text-align: start;
    }

    .title-2 {
        width: 100%;
        text-align: start;
    }

    .title-3 {
        width: 100%;
        text-align: start;
    }

    .menu-ipad-mobile-list {
        text-align: center;
        cursor: pointer;
        /* background: rgba(255, 255, 255, 0.7); */
        background-color: rgba(46, 47, 49, 0.7);
        border-radius: 24px;
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        padding: 10px;
        color: #fff;
    }

    .menu-ipad-mobile-list:hover {
        /* background: #5f668cc4; */
        background-color: rgba(255, 205, 0, 0.8);
        /* color: #fff; */
        font-weight: bold;
    }

    .service-menu-ipad-mobile {
        margin-top: 10%;
        /*
        position: absolute;
        top: -350px;
        */
    }


    .bg-layout-2 {
        background-image: none;
    }  

    .container-ipad {
        width: 100%;
    }

    .container-mobile {
        padding-left: 6%;
        padding-right: 6%;
    }

    .business-box {
        border-radius: 16px;
        padding: 10px;
        padding-top: 25px;
    }

    .business-img-ipad {
        width: 30px;
    }

    .stock-box {
        padding: 35px;
    }

    .stock-num-now {
        font-weight: bold;
        font-size: 2em;
    }

    .box-stock-change {
        margin-top: 1px !important;
    }

    .stock-box-title {
        font-size: 1.4em;
    }

    .stock-box-date {
        font-size: 1em;
    }

    .stock-val-number {
        margin-top: -55px;
    }

    .news-img {
        width: 100%;
    }

    .set-img-news {
        width: 18%;
    }
    .btn-custom-more {
        border: 1px solid #007EFF;
        padding: 7px;
        border-radius: 10px;
        width: 110px;
        text-align: center;
        color: #007EFF;
        cursor: pointer;
    }

    .news-text {
        font-size: 1.4em;
    }

    .footer-logo-img {
        width:100px;
    }

    .footer {
        margin-bottom: 0%;
    }

    .footer-set {
        width: auto !important;
    } 

    .footer-call-num {
        font-weight: 400;
        font-size: 30px;
    }
    
    .footer-call {
        padding: 5px;
    }


    .footer-call-sos {
        width: 115px;
        font-size: 14px;
        margin-top: 55px;
    }

    .phone-img-footer {
        position: absolute;
        left: 15%;
        top: 70%;
    }

    /* .icon-footer {
        padding: 0px;
    } */

    .call-1352-text {
        font-size: 25px;
        font-weight: bold;
        top: -40%;
        left: 18px;
    }
    .call-box {
        top: 20%;
        right: 12%;
        position: absolute;
    }
    
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* For mobile (landscape)  */
    .menu-ipad-title {
        text-align: center;
    }

    .home-layout-2 {
        background-image: none;
        /* padding-top: 10%; */
    }

    .person-set {
        margin-left: 0%;
        margin-top: 0%;
        margin-top: 10%;
    }

    .business-box {
        color: #FFF;
        background: #5F668C;
        border-radius: 16px;
        padding: 10%;
        padding-top: 20%;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .stock-val-number {
        margin-top: -50px;
    }

    .news-img {
        width: 100%;
    }
    .set-new-box-detail {
         padding-left: 0%; 
    }

    .footer-call {
        padding-top: 18%;
        padding-left: 40%;
    }

    .phone-img-footer {
        left: 40%;
        top: 50%;
    }
    
 }




 @media only screen and (min-width: 768px) and (max-width: 979px) {
     
     /* For tablet  */
    

     .titile-box {
        top: 33%;
        left: 10%;
    }

    .title-1 {
        font-size: 2.8em;
    }

    .title-2 {
        font-size: 4em;
    }

    .title-3 {
        font-size: 1.6em;
    }

    .navbar-light .navbar-toggler {
        color: transparent;
        /* margin-right: 15px; */
        font-size: 2em;
        border-color:transparent !important;
        line-height: 1;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow:transparent;
    }

    .bg-layout-2 {
        background-image: none;
    }  
   

    .service-menu-ipad-mobile {
        margin-top: 10%;
    }
    
    /* .menu-ipad-mobile-list{
        cursor: pointer;
        height: 170px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 24px;
        padding-top: 35px;
        line-height: 75px;
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        margin: auto;
        width: 177px;
        text-align: center;
    }

    .menu-ipad-mobile-list:hover {
        background: #5f668cc4;
        color: #fff;
        font-weight: bold;
    } */

    .img-ipad {
        width: 80px;
    }
    
    .menu-ipad-title {
        width: 100%;
        text-align: center;
        margin-top: -10px;
    }

    .container-ipad {
        max-width: 100%;
    }

    .person-set {
        margin-left: 0%;
        margin-top: 6%;
    }

    .business-img-ipad {
        width: 30px;
    }

    .business-box {
        padding: 8px;
        padding-top: 25px;
        margin: 0;
    }

    .business-sulution {
        font-size: 1em;
    }

    .business-detial {
        letter-spacing: 1px;
        margin-top: 5%;
        font-size: 14px;
    }

    .stock-box {
        padding: 30px;
    }

    .stock-change-val {
        font-size: 1em;
    }

    .stock-num-now {
        font-size: 2.2em;
    }

    .set-img-news {
        width: 9%;
    }

    .news-text {
        width: 535px;
    }

    .news-img {
        width: 120px;
    }

    .set-new-box-detail {
        padding-left: 10%;
    }

    .news-title {
        font-size: 1em;
    }

 

    .news-detial {
        font-size: 0.8em;
        height: 58px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .social-img {
        padding: 4px;
    }

    .phone-img-footer {
        left: 35%;
        top: 68%;
    }

    .footer-logo-box {
        width: 300px;
    }

    .call-box {
        top: 20%;
        right: 12%;
        position: absolute;
    }

    .call-1352-text {
        top: -110%;
        left: -22px;
        position: absolute;
    }


}

@media only screen and (min-width:992px){
    .navbar-nav {
        font-size: 0.9vw;
    }

    .service-menu {
        top: 72%;
    }

    .service-menu-box-title {
        font-size: 0.9em;
    }

    .service-list {
        padding: 8px;
    }

    .person-service-list {
        background: #5F668C;
        opacity: 0.8;
        border-radius: 15px;
        text-align: center;
        padding: 10px;
        margin: 0px;
        width: 100%;
        height: auto;
    }

    /* .person-set {
        width: 100%;
    } */


    .stock-num-now {
        font-size: 2em;
    }
    
    .stock-change-val {
        font-size: 1em;
    }

    .news-img {
        width: 100%;
    }

    .phone-img-footer {
        position: absolute;
        left: 20%;
        top: 50%;
    }

    .footer-call {
        margin-left:20%;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    /* For typical desktop */


    .person-set {
        margin-left: 0%;
        margin-top: 0%;
    } 

    .person-car-img {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    /* For large desktop  */

    .navbar-nav {
        font-size: 0.9vw;
    }  

    .call-box {
        top: 15%;
        right: 25%;
    }

    .set-new-box-detail {
        padding-left: 10%;
    }

    .footer-call {
        float: right;
    }    
}


@media screen and (min-width: 1400px) and (max-width: 1920px) {
        .container-xl {
            max-width: 100% !important;
        }

        .container-footer {
            max-width: 80% !important;
        }

        .service-list {
            width: 176px;
        }

        .service-menu-box-title {
            color: #fff;
            font-size: 18px;
            padding-top: 24px;
            font-weight: bold;
        }

   
}


/* boyd CSS */

.logo-width{
    width: 120px;
}
.offcanvas {
    background-color: #FFCD00;
}

.text-multi-line, .text-multi-line-02{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.text-multi-line{
    -webkit-line-clamp: 2;
}
.text-multi-line-02{
    -webkit-line-clamp: 3;
}
.img-fit{
    height: 140px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
.img-width{
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
a.active .filter-img img{
    filter: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(0%) hue-rotate(228deg) brightness(105%) contrast(107%);
}
a.active .card-icon, a .card-icon:hover{
    background-color: #FFCD00;
}
a.active .text-color, a .text-color:hover, a .text-color:focus{
    color: #fff;
}
a .filter-img img{
    filter: brightness(0) saturate(100%) invert(58%) sepia(26%) saturate(374%) hue-rotate(171deg) brightness(94%) contrast(86%);
}
a .filter-img img:hover{
    filter: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(0%) hue-rotate(228deg) brightness(105%) contrast(107%);
}
.icon-size{
    width: 64px!important;
}
a .text-color, .text-color{
    color: #7B93AE;
}
a .card-icon, .card-icon{
 height: 170px;
 border-radius: 2rem;
 background-color: #fff;
}
.personal-bg-head{
  background-image: url(/images/personal-bg-head.jpg);
  background-size: cover;
  height: 100%;
}
.radius{
    border-radius: 0.625rem;
}
.blue-filter{
    filter: brightness(0) saturate(100%) invert(46%) sepia(91%) saturate(5327%) hue-rotate(199deg) brightness(104%) contrast(104%);
}
.yellow-filter{
    filter: brightness(0) saturate(100%) invert(78%) sepia(46%) saturate(1333%) hue-rotate(358deg) brightness(100%) contrast(105%);
}
.white-filter{
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(8%) hue-rotate(110deg) brightness(105%) contrast(100%);
}
.link-color{
    filter: brightness(0) saturate(100%) invert(32%) sepia(66%) saturate(3279%) hue-rotate(208deg) brightness(95%) contrast(107%);
}
.text-blue{
    color: #007EFF;
}
.text-yellow{
    color: #FFCD00;
}
.-margin-negative{
    margin-top: -4rem;
}
.table-width {
    width: 800px;
  }
.-min-width{
    min-width: 720px;
}
.-min-height{
    min-height: 90vh;
}
.set-a-href-none {
    text-decoration: none;
    color: #000;
}
.ratio-2x3{
    --bs-aspect-ratio:calc(3 / 2 * 100%);
}
.bg-yellow{
    background-color: #f6f4ee;
}
.bg-yellow-dark{
    background-color: #FFCD00;
}
.bg-tsi-darkblue{
    background-color: #0a2543;
}
.bg-tsi-gray{
    background-color: #bfc1c3;
}
.circle{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}
.custom-width{
    width: 100%;
}
.custom-width-2{
    width: 70%;
}
.cd-timeline_container {
    position: relative;
    padding-bottom: 3rem;
  }
  
  .cd-timeline_container:last-child {
    padding-bottom: 0rem;
  }
  
  .cd-timeline_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 14%;
    height: 100%;
    width: 7px;
    background: #FFCD00;
  }
  a.text-dark:hover{
    opacity: .7;
  }
  .ug-lightbox .ug-textpanel-title, .ug-lightbox .ug-textpanel-description{
    text-align: center!important;
  }
  .svg-inline--fa.fa-w-16{
    width: 1em;
  }
  .btn-outline{
    border: 1px solid #007EFF;
    color: #007EFF;
    text-align: center; 
    width: fit-content;
    padding: 1rem 1.5rem;
    margin: auto;
}
.btn-outline:hover{
    border: 1px solid #007EFF;
    color: #007EFF;
}
.w-fit{
    width: fit-content;
}

.policy-link {
    color: #0d6efd !important;
    text-decoration: underline;
}

@media only screen and (min-width:576px){
    /* .bg-tsi::before {
        width: 30%;
    } */
    .custom-width-2{
        width: 50%;
    }
    .custom-width-3{
        width: 50%;
    }
    .cd-timeline_container::before{
        left: 93px;
    }
}
@media only screen and (min-width:768px){
    .bg-tsi::before {
        width: 20%;
    }
    .-margin-top{
        margin-top: 4rem;
    }
    .custom-width{
        width: 80%;
    }
    .custom-width-3{
        width: 45%;
    }
    .cd-timeline_container::before {
        left: 50%;
        transform: translateX(-50%);
      }
}
@media only screen and (min-width:1024px){
    /* .bg-tsi::before {
        width: 15%;
    } */
    .table-width{
        width: 100%;
    }
    .custom-width{
        width: 50%;
    }
    .custom-width-2{
        width: 100%;
    }
    .custom-width-3{
        width: 25%;
    }
}
@media only screen and (min-width:1200px){
    .img-fit{
        height: 100%;
    }
    /* .bg-tsi::before {
        width: 20%;
    } */
}
@media only screen and (min-width:1920px){
    /* .bg-tsi::before {
        width: 28%;
    } */
}
@media only screen and (min-width:2560px){
    .container{
        max-width: 1920px;
    }
    /* .bg-tsi::before {
        width: 20%;
    } */
    .navbar-light .navbar-nav .active>.nav-link,
     .navbar-light .navbar-nav .nav-link.active, 
     .navbar-light .navbar-nav .nav-link.show, 
     .navbar-light .navbar-nav .show>.nav-link,
     .navbar-light .navbar-nav .nav-link{
        font-size: 1.313rem;
    }
}
@media only screen and (min-width:3000px){
    /* .bg-tsi::before {
        width: 30%;
    } */
}
@media only screen and (max-width:1199.98px){
    .owl-stage {
        left: -20px;
     }
}
@media only screen and (max-width:991.98px){

}
@media only screen and (max-width:767.98px){
    .container-menu-ipad {
        max-width: 700px;
    }
    .img-ipad {
        width: 60%;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width:575.98px){
    .img-ipad {
        width: 100%;
    }
    .social-img {
        width: 45px;
        padding: 0px;
        margin: 2px;
    }
    .img-logo {
        width: 75px;
    }
    .logo-box {
        padding: 1rem;
    }
}



.honeycomb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    transform: translateY(34.375px);
  }
  .honeycomb-cell {
    flex: 0 1 250px;
    max-width: 250px;
    height: 137.5px;
    margin: 65.4761904762px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
  }
  .honeycomb-cell__title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    word-break: break-word;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 1.75em;
    transition: opacity 350ms;
  }
  .honeycomb-cell__title > small {
    font-weight: 300;
    margin-top: 0.25em;
  }
  .honeycomb-cell__image {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .honeycomb-cell::before, .honeycomb-cell::after {
    content: "";
  }
  .honeycomb-cell::before, .honeycomb-cell::after, .honeycomb-cell__image {
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
  }
  .honeycomb-cell::before {
    background: #fff;
    transform: scale(1.055);
  }
  .honeycomb-cell::after {
    background: #FFCD00;
  }
  .honeycomb__placeholder {
    display: none;
    opacity: 0;
    width: 250px;
    margin: 0 12.5px;
  }
  @media (max-width: 550px) {
    .honeycomb-cell {
      margin: 81.25px 25px;
    }
  }
  @media (min-width: 550px) and (max-width: 825px) {
    .honeycomb-cell:nth-child(3n) {
      margin-right: calc(50% - 125px);
      margin-left: calc(50% - 125px);
    }
  
    .honeycomb__placeholder:nth-child(3n+5) {
      display: block;
    }
  }
  @media (min-width: 825px) and (max-width: 1100px) {
    .honeycomb-cell:nth-child(5n+4) {
      margin-left: calc(50% - 275px);
    }
  
    .honeycomb-cell:nth-child(5n+5) {
      margin-right: calc(50% - 275px);
    }
  
    .honeycomb__placeholder:nth-child(5n),
  .honeycomb__placeholder:nth-child(5n+3) {
      display: block;
    }
  }
  @media (min-width: 1100px) {
    .honeycomb-cell:nth-child(7n+5) {
      margin-left: calc(50% - 400px);
    }
  
    .honeycomb-cell:nth-child(7n+7),
  .honeycomb-cell:nth-child(7n+5):nth-last-child(2) {
      margin-right: calc(50% - 400px);
    }
  
    .honeycomb__placeholder:nth-child(7n+7),
  .honeycomb__placeholder:nth-child(7n+9),
  .honeycomb__placeholder:nth-child(7n+11) {
      display: block;
    }
  }
  .bg-tsi-lighten{
    background-color: rgba(255, 205, 0, 0.2);
}
.menu-ipad-mobile-list {
    text-align: center;
    cursor: pointer;
    background-color: rgba(46, 47, 49, 0.7);
    border-radius: 24px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    /* margin: 6%; */
    /* line-height: 65px; */
    padding: 10px;
    color: #fff;
}

.menu-ipad-mobile-list:hover {
    background:rgba(255, 205, 0, 0.8);
    color: #fff;
    font-weight: bold;
}
.img-size{
    width: 60%;
    margin-bottom: 1rem;
}
#news-arrow .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 40%;
    right: 1%;
    background-color: #fff;
}
#news-arrow .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 40%;
    left: 1%;
    background-color: #fff;
}
#news-arrow button.owl-next, #news-arrow button.owl-prev {
    font-size: 48px !important;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    color: #000;
}
.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, .owl-theme .owl-dots .owl-dot span{
    background: #ffc107;
}
.owl-theme .owl-dots .owl-dot.active span{
    width: 25px;
}
.card-img-tsi-overlay{
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    background: rgb(10,37,68);
    background: linear-gradient(0deg, rgba(10,37,68,1) 0%, rgba(10,37,68,0) 100%);
    width: 100%;
}
.ratio-custom{
    --bs-aspect-ratio: 40%;
}